body {
	background: #0d0d0d;
	font-family: sans-serif; }
	
a {
	text-decoration: none; }
	
a:link, a:visited { 
	color: #6DBDF2; }

a:active, a:hover { 
	color: #fff; }
	
#header tr.cell0 td {
	background: #232323; }
	
#header-sep {
	display: none; }
	
#mobile-sidebar table.outline tr.header0 th, #page_contents table.outline tr.header0 th, #mobile-sidebar table.outline tr.header1 th, #page_contents table.outline tr.header1 th, #navBar, table.post td.meta, table.post td.side.userlink, .crumb-container th, #headerInfo th {
	background: #1a1a1a;
	border-top: 1px solid #383838;
	border-left: 1px solid #383838;
	border-right: 1px solid #000; 
	border-bottom: 1px solid #000;
	padding: 8px 10px; }
	
#mobile-sidebar .cell0 td, #mobile-sidebar .cell1 td, #mobile-sidebar td.cell0, #mobile-sidebar td.cell1, #page_contents .cell0 td, #page_contents .cell1 td, #page_contents td.cell0, #page_contents td.cell1, table.post td.post, #footer, #headerInfo td, tr.cell0 td:not(.cell2) {
	background: #232323;
	border-top: 1px solid #383838;
	border-left: 1px solid #383838;
	border-right: 1px solid #000; 
	border-bottom: 1px solid #000;
	padding: 4px 4px 4px 4px; }
	
#mobile-sidebar .cell2 td, #mobile-sidebar td.cell2, #page_contents .cell2 td, #page_contents td.cell2, table.post td.side, #main-sidebar {
	background: #1e1e1e;
	border-top: 1px solid #383838;
	border-left: 1px solid #383838;
	border-right: 1px solid #000; 
	border-bottom: 1px solid #000;
	padding: 4px 8px; }
	
.navButton:hover, .dropdownContainer:hover > .navButton {
	background: #1a1a1a; }
  
textarea, input {
  color: #eeeeee; }

textarea, input[type='text'], input[type='password'], input[type='email'] {
	border: 1px solid #555555;
	background: #333333;
	padding: 4px }

textarea:hover, input[type='text']:hover, input[type='password']:hover, input[type='email']:hover {
    border: 1px solid #888; }

textarea:focus, textarea:active, input[type='text']:focus, input[type='text']:active, input[type='password']:focus, input[type='password']:active, input[type='email']:focus, input[type='email']:active {
    border: 1px solid #999;
    background: #484848; }
	
button, input[type='submit'] {
	background: #1a1a1a;
	border-top: 1px solid #383838;
	border-left: 1px solid #383838;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	color: #cccccc;
	padding: 3px 9px; }

button:hover, input[type='submit']:hover {
    background: #1e1e1e; }
	
button:active, input[type='submit']:active {
    background: #1e1e1e; }
	
div#tabs {
	padding-left: 10px;
	margin-bottom: -1px; }

div#tabs button {
	background: #121212;
	padding-bottom: 4px;
	border: 1px solid #383838; }

div#tabs button.selected, div#tabs button:hover {
	background: #1a1a1a;
	border-bottom: 0px solid #1a1a1a; }

div.postToolbar button {
	width: 1.9em;
	height: 1.9em; }
	
ul.dropdownMenu li {
	background: #1a1a1a;
	border: 1px solid #000; 
	border-top-width: 0px; }