/* 
* Stone Block, a free Blargboard theme by Tierage
* WARNING: Sidebar and header box is disabled.
*/

body {
  background: #121212;
  color: #fff;
  font-family: sans-serif; }

#navBar {
  color: #fff !important;
  background: #1A1A1A;
  border-left: 1px solid #333;
  border-top: 1px solid #333;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 8px 10px;
  text-shadow: 1px 1px 2px #000; }

#navBar a {
  color: #fff !important; }

#main-sidebar,#header-sep,#headerInfo {
  display: none !important; }

#theme_banner {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important; }

a:link, a:visited { 
  color: #6DBDF2; }

a:active, a:hover { 
  color: #fff; }

.margin, .pages {
  margin-bottom: 1.3em; }

div#page_contents {
  padding: 1em;
}

tr.header0 > th, tr.header1 > th, table.post td.userlink, table.post td.meta {
  color: #fff !important;
  background: #1A1A1A;
  border-left: 1px solid #333;
  border-top: 1px solid #333;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 8px 10px;
  text-shadow: 1px 1px 2px #000; }

td.cell1,tr.cell1 > td:not(.cell0):not(.cell2),table.post td.post {
  background: #222;
  border-left: 1px solid #333;
  border-top: 1px solid #333;
  border-right: 1px solid black;
  border-bottom: 1px solid black; }

td.cell0, td.cell2,tr.cell0 > td:not(.cell1), tr.cell2 > td:not(.cell1),table.post td.side:not(.userlink) {
  background: #252525;
  border-left: 1px solid #333;
  border-top: 1px solid #333;
  border-right: 1px solid black;
  border-bottom: 1px solid black; }

button, input[type='submit'] {
  padding: 3px 9px;
  background: #222;
  border-left: 1px solid #333;
  border-top: 1px solid #333;
  border-right: 1px solid black;
  border-bottom: 1px solid black; }

.postToolbar button {
  padding: 0;
  background: #222;
  border-left: 1px solid #333;
  border-top: 1px solid #333;
  border-right: 1px solid black;
  border-bottom: 1px solid black; }

.navButton:hover, .dropdownContainer:hover > .navButton {
  background: #252525;
  border-radius: 3px;
  padding: 5px; }

ul.dropdownMenu li {
  background: #222;
  border-left: 1px solid #333;
  border-top: 1px solid #333;
  border-right: 1px solid black;
  border-bottom: 1px solid black; }

ul.dropdownMenu li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

button, input[type="button"], input[type="submit"] {
  color: white;
  background: #222;
  border-left: 1px solid #333;
  border-top: 1px solid #333;
  border-right: 1px solid black;
  border-bottom: 1px solid black; }

button:hover, input[type="button"]:hover, input[type="submit"]:hover {
  background: #333; }

input[type="text"], input[type="password"], input[type="file"], input[type="email"], select, textarea {
  border-radius: 3px;
  background: #DEDEDE;
  color: #121212;
  padding: 2px; }

div#tabs {
  padding-left: 10px;
  margin-bottom: -1px; }

div#tabs button {
  background: #222;
  border: 1px solid #333;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding-bottom: 4px; }

div#tabs button.selected, div#tabs button:hover {
  background: #1A1A1A;
  border-bottom: 1px solid #1A1A1A;  }

div.postToolbar button {
  width: 1.9em;
  height: 1.9em; }