/* Based on Blargboard Dark by StapleButter */

body
{
	background: #333;
	color: #fff;
}

a:link, a:visited { color: #32cd32; }
a:active, a:hover { text-decoration:underline; }

table.outline, table.post
{
	border-radius: 3px;
}

.margin, .pages
{
	margin-bottom: 1.3em;
}

div#page_contents
{
	padding: 1em;
}

table.outline > tbody > tr > *,
table.post td.userlink,
table.post td.meta
{

}

table.outline > tbody:last-child > tr:last-child > *
{
	border-bottom: none 0;
}

table.outline > tbody > tr > td,
table.post td.side:not(.userlink)
{
	border-right: 0px solid #043;
	padding: 3px 5px;
}

table.outline > tbody > tr > td:last-child
{
	border-right: none 0;
}

table.outline > tbody:first-child > tr:first-child > *:first-child,
table.post td.userlink
{
	border-top-left-radius: 3px;
}
table.outline > tbody:first-child > tr:first-child > *:last-child,
table.post td.meta
{
	border-top-right-radius: 3px;
}
table.outline > tbody:last-child > tr:last-child > *:first-child,
table.post td.side:not(.userlink),
table.deletedpost td.side
{
	border-bottom-left-radius: 9px;
}
table.outline > tbody:last-child > tr:last-child > *:last-child,
table.post td.post,
table.deletedpost td.meta
{
	border-bottom-right-radius: 9px;
}

tr.header0 > th,
tr.header1 > th,
table.post td.userlink,
table.post td.meta
{
    color:#fff !important;
	
	background: #3B3B3B;
	
	padding: 4px 6px;
	
	text-shadow: 1px 1px 2px #000;
}

td.cell1,
tr.cell1 > td:not(.cell0):not(.cell2),
table.post td.post
{
	background: #222;
}

td.cell0, td.cell2,
tr.cell0 > td:not(.cell1), tr.cell2 > td:not(.cell1),
table.post td.side:not(.userlink)
{
	background: #222;/*#222c28;*/
	/* 282828 */
}


table#header,
table#header > tbody > tr > *,
table#footer,
table#footer > tbody > tr > *
{
	border-left-width: 0;
	border-right-width: 0;
	border-radius: 0;
}

table#header
{
	border-top-width: 0;
}

table#footer
{
	border-bottom-width: 0;
}

table#sidebar,
table#sidebar > tbody > tr > *
{
	border-left-width: 0;
	border-top-width: 0;
	border-bottom-width: 0;
	border-radius: 0;
}

table#page-container > tbody > tr:first-child > td.crumb-container > table
{
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-radius: 0;
}

table#page-container > tbody > tr:last-child > td.crumb-container > table
{
	border-bottom-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-radius: 0;
}

table#page-container > tbody > tr:first-child > td.crumb-container > table > tbody > tr > *,
table#page-container > tbody > tr:last-child > td.crumb-container > table > tbody > tr > *
{
	border-radius: 0;
}

#header-sep
{
	height: 6px;
}


.navButton:hover, .dropdownContainer:hover > .navButton
{
	background: rgba(0,0,0,0.2);
	border-radius: 3px;
}

ul.dropdownMenu
{
	border-radius: 3px;
	text-shadow: none;
}

ul.dropdownMenu li
{
	border-top: none 0;
	border-left: none 0;
	border-right: none 0;
	border-bottom: 0px solid #043;
	background: #222;
}

ul.dropdownMenu li:first-child
{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

ul.dropdownMenu li:last-child
{
	border-bottom: none 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}


button, input[type="button"], input[type="submit"]
{
	border: 2px solid #4F87D6;
	border-radius: 3px;
	background: #4F87D6;
	color: #fff;
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover
{
	background: #5A99F2;
	border: 2px solid #5A99F2;
}

input[type="text"], input[type="password"], input[type="file"], input[type="email"], select, textarea
{
	border: 1px solid #ffffff;
	border-radius: 3px;
	background: #ffffff;
	color: #000000;
}

div#tabs
{
	padding-left: 10px;
	margin-bottom: -1px;
}

div#tabs button
{
	border-left: 2px solid #222;
	border-top: 2px solid #222;
	border-right: 2px solid #222;
	border-bottom: none 0;
	border-radius: 5px 5px 0 0;
	background: #222;
	padding-bottom: 2px;
}

div#tabs button.selected, div#tabs button:hover
{
	background: #333;
}

div.postToolbar button
{
	width: 1.9em;
	height: 1.9em;
}
